<div class="pricing-table" id="carousel">
  <div class="users new">
    
    <div class="container">
      <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="99"
                aria-valuemin="0" aria-valuemax="100" style="width:99%">
                  99% Complete (So close!)
                </div>
              </div>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          
            <!-- PRICE ITEM -->
          <div class="panel price panel-red">
            <div class="panel-heading  text-center">
              <h3>Starter Box</h3>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:40px"><strong>129.90 / order</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> 4 Bottles</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> High-quality Malaysian Liquids</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Up to 25% Savings</li>
            </ul>
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-danger" href="/memberships/single">Order Now</a>
            </div>
          </div>
            <!-- /PRICE ITEM --> 
        </div>
          
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          
            <!-- PRICE ITEM -->
          <div class="panel price panel-blue">
            <div class="panel-heading arrow_box text-center">
              <h3>VapeClubMY Membership</h3>
              <h4>Popular Choice</h4>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:40px"><strong>119.90 / month</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> 4 Bottles</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> High-quality Malaysian Liquids</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Up to 30% Savings</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Cancel anytime</li>
            </ul>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-success" href="/memberships/subscription">Join Now</a>
            </div>
          </div>
            <!-- /PRICE ITEM -->
            
            
        </div>
          
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          
            <!-- PRICE ITEM -->
          <div class="panel price panel-grey">
            <div class="panel-heading arrow_box text-center">
              <h3>Platinum Member</h3>
              <h4>Coming soon....</h4>
            </div>
            <div class="panel-body text-center">
              <p class="lead" style="font-size:40px"><strong>RM269.90 / month</strong></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-default"></i> 5 Bottles</li>
              <li class="list-group-item"><i class="icon-ok text-default"></i> All-American Liquids</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> The Best Wicking Cotton</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Up to 30% Savings</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Cancel anytime</li>
            </ul>
            <div class="panel-footer">
              <a class="btn btn-lg btn-block btn-default disabled" href="#">Coming soon</a>
            </div>
          </div>
            <!-- /PRICE ITEM -->
            
        </div>
      </div>
              
    </div>
  </div>
</div>