<h1>Your Box Has Been Delivered!</h1>

<p>Hello <%= @user.first_name %>.</p>

<p>Your box has been shipped!</p> 

<p>Here's your tracking ID. <%= @tracking_id %></p>

<p>Your box should arrive in less than 3 working days.</p>

<p>Just copy paste it into the form in the link below.</p>

<a href="http://www.poslaju.com.my/track-trace/">http://www.poslaju.com.my/track-trace/</a>

<p>Thanks again for your order. You are making the vaping community in Malaysia better.</p>

<p>Vape On!</p>
<p>#VapeClubMY</p>